body {
  background-image: url(../src/image/bg-image.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.logo img {
  width: 160px;
  margin-left: 42px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #075785;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.icon {
  padding-right: 10px;
  width: 34px;
  height: auto;
  margin-top: -7px;
}

.peringatan p{
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  padding-left: 42px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0874B1;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #0874B1;
  color: white;
}

.nama p {
  font-weight: bold;
  font-size: 30px;
  font-family: "Plus Jakarta Sans";
  padding-top: 27px;
}

.nama span {
  font-weight: 700;
  font-size: 20px;
  font-family: "Plus Jakarta Sans";
}

.sub-menu a {
  padding-left: 80px;
}

.table-warning {
  --bs-table-bg: #FB9E12;
}

.col-md-6 {
    margin-top: 32px;
    margin-bottom: 6px;
}

.judul .resor{
  margin-top: 43px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  color: #0B56A7;
}

.judul .emplasemen{
  font-weight: 400;
  font-size: 38px;
  color: #000000;
  line-height: 12px;
}

.judul .data-aset-wesel{
  font-weight: 400;
  font-size: 38px;
  color: #000000;
}

.card{
  margin-top: 33px;
}

.edit{
  text-decoration: none;
  color: white;
  align-self: center;
}

.edit:hover{
  color: white;
}

.icon{
  width: 34px;
}

.wesel{
  color: white;
}

.card-header:first-child {
    background-color: #0B56A7;
}

.gambar{
  width: 491px;
  height: 334px;
}

.posisi{
  margin-left: -15px;
  margin-right: 35px;
  font-size: 15px;
  line-height: 20px;
}

.posisi .kotak{
  border: 1px #0B56A7 solid;
  width: 120px;
  text-align: center;
  border-radius: 5px;
}

.merk{
  font-size: 13px;
  border: 1px #0B56A7 solid;
  width: 120px;
  text-align: center;
  border-radius: 5px;
}

.perawatan{
  --bs-btn-disabled-opacity: 100;
  width: 50px;
}

.row .col-sm-4 p{
  border: 1px #0B56A7 solid;
  width: 299px;
  height: 43px;
  padding-left: 10px;
  padding-top: 2px;
}

.pemeriksaan img{
  width: 25px;
}

.tombolUpload button{
  --bs-btn-padding-x: .5rem;
}

.tombolUpload img{
  width: 19px;
}

.btn-success {
    --bs-btn-disabled-color: #01BC08;
    --bs-btn-disabled-bg: #01BC08;
    --bs-btn-disabled-border-color: #01BC08;
}

.btn{
  --bs-btn-disabled-opacity: 1;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 250px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}