body {
  background-image: url(../src/image/bg-image.webp);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.logo img {
  width: 160px;
  margin-left: 42px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #075785;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.icon {
  padding-right: 10px;
  width: 34px;
  height: auto;
  margin-top: -7px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  padding-left: 42px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0874B1;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #0874B1;
  color: white;
}

.input-group-text {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: #0874B1;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid lightgrey;
}


/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 250px;
  /*padding: 1px 16px;*/
}

.header {
  font-weight: 700;
  font-size: 30px;
  font-family: "Poppins";
  padding-top: 7px;
  padding-bottom: 3px;
  background-color: #FB9E12;
  color: white;
}

.struktur img{
  width: 90%;
  margin-top: 35px;
}

.deskripsi{
  padding: 35px 20px;
}

.card-header {
    color: white;
    /*background-color: var(--bs-card-cap-bg);*/
    background-color: #0874B1;
}

.edit-gambar{
  padding: 5px 20px;
}

.scroll {
    max-height: 220px;
    overflow-y: auto;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}