body {
  background-image: url(../src/image/bg-image.png);
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
}

.logo img {
  width: 160px;
  margin-left: 42px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #075785;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.icon {
  padding-right: 10px;
  width: 34px;
  height: auto;
  margin-top: -7px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  padding-left: 42px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0874B1;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #0874B1;
  color: white;
}

.nama p {
  font-weight: bold;
  font-size: 30px;
  font-family: "Plus Jakarta Sans";
  padding-top: 27px;
}

.nama span {
  font-weight: 700;
  font-size: 20px;
  font-family: "Plus Jakarta Sans";
}

.sub-menu a {
  padding-left: 80px;
}


.input-group-text {
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: #0874B1;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid lightgrey;
}

.judul p {
  font-weight: 700;
  font-size: 30px;
  font-family: "Poppins";
  padding-top: 27px;
}

.card-title {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  margin-top: -9px;
  color: black;
}

.card-img-top {
  height: 285px;
}

.progress {
  margin-left: 11px;
  margin-top: -40px;
  width: 499px;
  height: 14px;
  --bs-progress-bg: white!important;
  border: solid 1px #548099;
}

.progres p{
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  color: #548099;
  margin-left: 11px;
}

.card{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  --bs-card-inner-border-radius: 0px;
}

.card-body {
  height: 53px;
}

.statusReporting .card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.statusReporting a{
  text-decoration: none;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 250px;
  padding: 1px 16px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}